:root{
	--mdc-theme-primary: #329f80;
	--mdc-theme-secondary: #2284A6;
}

.mdc-drawer .mdc-list-item--activated{
	color: var(--mdc-theme-primary);
}
.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic{
	color:var(--mdc-theme-primary);
}

html, body {
	font: 16px/1.21 -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	font-weight: 400;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* fallback */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}
  
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

* {
	box-sizing: border-box;
}


.topappbar{
	max-width: 450px;
}

.root{
	display: grid;	
	height: 100vh;
	grid-template-rows: 0.25fr 1fr 1.5fr 0.25fr;
	max-width: 450px;
	margin: 0 auto;
}

.overlay{
	position: absolute;
	display: flex;
	flex-flow: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 2;
}

.modal{
	position: relative;
	background: #fff;
	margin: 20px;
	padding: 10px;
	border-radius: 5px;
}

.display{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	overflow: hidden;
}

.display > span{
	font-size: 120px;
	text-align: center;
}

.small{
	font-size: 50%;
	margin-right: 5px;
	color: rgba(0,0,0,0.75)
}

.keypad{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	padding: 10px;
}

.keypad > div{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5em;
	min-height: 56px;
	border-radius: 5px;
	background: gainsboro;
}


.buttons{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0 10px 10px 10px;
	grid-gap: 10px;
}

.buttons > button {
	height: 100%;
	min-height: 56px;
}

.btn{
	font-size: 20px;
	border: none;
	border-radius: 5px;
	color: #fff;
	min-height: 56px;
	min-width: 100px;
}

.confirm{
	background: green;
}

.cancel{
	background: red;
}
